<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>condions</h1>
{% if a > b %}
       {% if a > c %}
             <h1>inside if block of outer if </h1>
             <h1>a is greater than b,c</h1>
        {% else %}
              <h1>inside if block of outer if </h1>
              <h1>c is greater then b,a</h1>
        {% endif %}
{% else %}
        {% if b > c%}
              <h1>inside if block of outer else</h1>
              <h1>b is greater then c,a</h1>
        {% else %}
               <h1>inside else blockof outer else</h1>
               <h1>c is greater then b,a</h1>
        {% endif %}
{% endif %}
    </center>
</body>
</html>